h1{
  background-color: #3a3a3a;
  color: gold;
  height: 40px;
  border-radius: 3px;
  border-color: black;
  border-width: 10px;
  border-style: line;
  margin-top: 0%;

}

div{

  margin-bottom: 10px;
}
button{
  cursor: pointer;
}
span{
  background-color: black;
  color: gray;
}

p{
  float: right;
  margin-right: 200px;
}

